/* General font for the website */
body {
    background-color: #D9DDDC; /* Pearl River */
    color: #333; /* Darker text color for contrast */
    margin: 0;
    padding: 20px;
    font-family: 'Roboto', sans-serif; /* Set a base font */
    margin-top: 80px; /* Making the nav-bar spaced out*/
}

/* Header Styles */
header {
    display: flex;
    justify-content: center; /* Center all items in the header */
    align-items: center;
    padding: 20px 0;

    /*Creating the NavBar background */
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    box-shadow: 0 0 25px 0 black;
}
/* Adding more space between the nav bar items */
header nav a {
    margin: 0 15px; /* Adds space between nav links */
    text-decoration: none;
    color: #333; /* Match text color */
    font-weight: 500; /* Adjust font weight if needed */
}


.Construction {
    text-align: center; /* Center the content horizontally */
}