/* General font for the website */
body {
    background-color: #D9DDDC; /* Pearl River */
    color: #333; /* Darker text color for contrast */
    margin: 0;
    padding: 20px;
    font-family: 'Roboto', sans-serif; /* Set a base font */
    margin-top: 80px; /* Making the nav-bar spaced out*/
}


/* Header Styles */
header {
    display: flex;
    justify-content: center; /* Center all items in the header */
    align-items: center;
    padding: 20px 0;

    /*Creating the NavBar background */
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
}

/* Adding more space between the nav bar items */
header nav a {
    margin: 0 15px; /* Adds space between nav links */
    text-decoration: none;
    color: #333; /* Match text color */
    font-weight: 500; /* Adjust font weight if needed */
}

.education h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: left; /* Align text to the left */
    color: #333;
}

.education h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #555;
}

.education p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #444;
}

.education p strong {
    font-weight: bold;
    color: #333;
}

/* Remove left border */
.education p:not(:first-of-type) {
    padding-left: 0; /* Remove padding for a clean look */
    margin-left: 0; /* Remove left margin */
}
.divider {
    border: none; /* Remove default border */
    height: 1px; /* Set height of the line */
    background-color: #ccc; /* Set color of the line */
    margin: 20px 0; /* Add vertical spacing around the line */
    width: 100%; /* Full width */
}
